{
  "presets": [ "env" ],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-react-display-name",
    "transform-object-assign",
    "transform-react-jsx"
  ]
}